# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Folders #
coremods/
crash-reports/
mods/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
XaeroWaypoints*/
XaeroWorldMap/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
icon.png
options.txt
realms_persistence.json
usercache.json
usernamecache.json
kubejs/assets/kubejs/textures/block/example_block.png
kubejs/assets/kubejs/textures/item/example_item.png
kubejs/client_scripts/script.js
kubejs/config/client.properties
kubejs/config/common.properties
kubejs/README.txt
kubejs/startup_scripts/script.js
logs/2022-06-03-1.log.gz
logs/2022-06-03-10.log.gz
logs/2022-06-03-11.log.gz
*.gz
logs/kubejs/client.txt
logs/kubejs/server.txt
logs/kubejs/startup.txt
kubejs/exported/tags/activity.txt
kubejs/exported/tags/attribute.txt
kubejs/exported/tags/block_entity_type.txt
kubejs/exported/tags/block_predicate_type.txt
kubejs/exported/tags/blocks.txt
kubejs/exported/tags/chunk_status.txt
kubejs/exported/tags/crafttweaker/condition_serializer.txt
kubejs/exported/tags/crafttweaker/transformer_serializer.txt
kubejs/exported/tags/custom_stat.txt
kubejs/exported/tags/data_serializers.txt
kubejs/exported/tags/dimension_type.txt
kubejs/exported/tags/enchantment.txt
kubejs/exported/tags/entity_types.txt
kubejs/exported/tags/float_provider_type.txt
kubejs/exported/tags/fluids.txt
kubejs/exported/tags/forge/loot_modifier_serializers.txt
kubejs/exported/tags/forge/world_types.txt
kubejs/exported/tags/game_events.txt
kubejs/exported/tags/height_provider_type.txt
kubejs/exported/tags/int_provider_type.txt
kubejs/exported/tags/items.txt
kubejs/exported/tags/loot_condition_type.txt
kubejs/exported/tags/loot_function_type.txt
kubejs/exported/tags/loot_nbt_provider_type.txt
kubejs/exported/tags/loot_pool_entry_type.txt
kubejs/exported/tags/loot_number_provider_type.txt
kubejs/exported/tags/loot_score_provider_type.txt
kubejs/exported/tags/memory_module_type.txt
kubejs/exported/tags/menu.txt
kubejs/exported/tags/mob_effect.txt
kubejs/exported/tags/motive.txt
kubejs/exported/tags/particle_type.txt
kubejs/exported/tags/point_of_interest_type.txt
kubejs/exported/tags/pos_rule_test.txt
kubejs/exported/tags/position_source_type.txt
kubejs/exported/tags/potion.txt
kubejs/exported/tags/recipe_serializer.txt
kubejs/exported/tags/recipe_type.txt
kubejs/exported/tags/rule_test.txt
kubejs/exported/tags/schedule.txt
kubejs/exported/tags/sensor_type.txt
kubejs/exported/tags/sound_event.txt
kubejs/exported/tags/stat_type.txt
kubejs/exported/tags/villager_profession.txt
kubejs/exported/tags/villager_type.txt
kubejs/exported/tags/worldgen/biome.txt
kubejs/exported/tags/worldgen/biome_source.txt
kubejs/exported/tags/worldgen/block_state_provider_type.txt
kubejs/exported/tags/worldgen/carver.txt
kubejs/exported/tags/worldgen/chunk_generator.txt
kubejs/exported/tags/worldgen/configured_carver.txt
kubejs/exported/tags/worldgen/configured_feature.txt
kubejs/exported/tags/worldgen/configured_structure_feature.txt
kubejs/exported/tags/worldgen/density_function.txt
kubejs/exported/tags/worldgen/density_function_type.txt
kubejs/exported/tags/worldgen/feature.txt
kubejs/exported/tags/worldgen/feature_size_type.txt
kubejs/exported/tags/worldgen/foliage_placer_type.txt
kubejs/exported/tags/worldgen/material_condition.txt
kubejs/exported/tags/worldgen/material_rule.txt
kubejs/exported/tags/worldgen/noise.txt
kubejs/exported/tags/worldgen/noise_settings.txt
kubejs/exported/tags/worldgen/placed_feature.txt
kubejs/exported/tags/worldgen/placement_modifier_type.txt
kubejs/exported/tags/worldgen/processor_list.txt
kubejs/exported/tags/worldgen/structure_feature.txt
kubejs/exported/tags/worldgen/structure_piece.txt
kubejs/exported/tags/worldgen/structure_placement.txt
kubejs/exported/tags/worldgen/structure_pool_element.txt
kubejs/exported/tags/worldgen/structure_processor.txt
kubejs/exported/tags/worldgen/structure_set.txt
kubejs/exported/tags/worldgen/template_pool.txt
kubejs/exported/tags/worldgen/tree_decorator_type.txt
kubejs/exported/tags/worldgen/trunk_placer_type.txt
kubejs/server_scripts/script.js
config/legendarytooltips-common-2.toml.bak
